/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}
/*Common*/
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.row{
    margin-left:-8px;
    margin-right: -8px;
}
.row::after{
    content:"";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: calc(100% /3);
}
/*Main*/
/* #main{
 
} */
/*header and nav*/
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}

#nav li{
    line-height:46px;
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a, #nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color:#fff;
    list-style-type: none;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav .subnav a{
    color: #000;
    line-height:38px;
    padding: 0 12px; 
}
.nav-icon{
    font-size:14px;
}
#header .mobile-menu-btn{
    position: absolute;
    right: 0;
    top: 0;
}
#header .mobile-menu-btn,
#header .search-btn{
   float:right;
   line-height: 46px;
   padding: 0 21px;
  
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon{ 
    font-size:20px;
    font-weight:bold;
    color: #fff;
}
/*Slider*/
#slider{
    position: relative;
    margin-top:46px;
    padding-top: 50%;
    background: url('/assets/css/img/slider3.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform:translateX(-50%);
    text-align:center;
}
#slider .text-header{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}
/*Content*/
/* #content{

} */
#content .content-section{
    width:800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size:30px;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top:25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-context{
    margin-top:25px;
    font-size: 15px;
    text-align: justify; /*canh deu 2 ben doan van*/
    line-height: 1.4;
}

#content .member-team{
    margin-top: 32px;
    /* overflow: hidden; */
}
#content .member-name{
    font-size:15px;
}
#content .member-img{
    margin-top:15px;
    width: 154px;
    border-radius: 4px;
}
/*Tour*/
#tour-section{
    background-color: #000;
}
.ticket-list{
    background-color: #fff;
    list-style: none;
    margin-top:40px;
}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom:1px solid #ddd;
    color: #757575;
}
.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top:-3px;

}
/*Place List*/
.place-list{
    margin-top: 16px;
}
.img-place{
    width: 100%;
    display: block;
}
.img-place:hover{
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    font-size:15px;
    background-color: #fff;
}
.place-heading{
    font-size: 15px;
}
.place-time{
    margin-top:15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height:1.4;
}
.buy-btn{ 
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top:15px;
}
.buy-btn:hover{
    background-color: #ccc;
    color: #000;
}
/*Contact form*/
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size:18px;
    line-height:1.4;
}
.contact-info i[class*="ti-"]{
    display: inline-block;
    width:30px;
    color: #000;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn{
    background-color: #000;
    color: #fff;
    padding:11px 16px;
    cursor: pointer;
    float: right;
    border: none;
}
.form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
    border: none;
}
/*map section*/
.map-section img{
    width: 100%;
}
/*Footer*/
#footer{
    padding: 64px 16px;
    text-align: center;
}
.social-list{ 
   font-size:24px; 
}
.social-list a{ 
    color:rgba(0,0,0,0.6);
    text-decoration: none;
}
.copyright a:hover,
.social-list a:hover{
    color:rgba(0,0,0,0.4);
}
.copyright{
    margin-top: 15px;
    color:rgba(0,0,0,0.6);
}
.copyright a{ 
    color:rgba(0,0,0,0.6);
}


/*Modal*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-container{
    background-color:#fff;
    width:900px;
    max-width:calc(100% -32px);
    min-height: 200px;
    position: relative;
    animation: modalAnnimation ease .5s;
}
.modal-close{
    position: absolute;
    right: 0;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
}
.modal-close:hover{ 
    opacity: 1;
}
.modal-header{
    background-color: #009688;
    height:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size:30px;
}
.heading-icon{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;

}
.modal-label{
    display: block;
    font-size: 15px;
    color: #000;
    margin-bottom:12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;;
    padding: 10px;
    font-size: 15px;
    margin-bottom:24px;
}
#buy-ticket{
    background-color: #009688;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    width: 100%;
    padding: 14px;
    border: none;
    cursor: pointer;
    opacity: .7;
}
#buy-ticket:hover{
    opacity: 1;
    background-color: #ccc;
    color: #000;
}
.modal-footer{ 
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196F3;
}
.modal.open {
    display: flex;
}

@keyframes modalAnnimation {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

